<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employee</title>
   </head>
<body>
    
    <div>
        <form action="/employee" method="post">
            <label for="response"> Make a guess </label>
            <input type="string" id="frame" name="first" placeholder="Add text">
            <input type="string" id="frame" name="last" placeholder="Add text">
            <input type="submit" value="Response">
        </form>
    </div>

    <p th:text="${score}"/>

</html>